body {
    background-color: #F6F8ED;
}
#header{
    height: 3vh;
    background-color: #91f5ad;
}

.link {
    display: inline-block;
    text-align: right;
    font-size: 0.5em;
}

#name{
    color: #F55D3E;
    text-align: center;
    font-size: 3.5em;

}
#quote {
    background-color: #C2E81270;
    font-size: 2em;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.main {
    text-align: left;
    position: relative; top: 150px;
    font-size: 2em;
}

.icon-facebook-sign {

    position: relative;
    top: 2em;
    font-size: 3em;
    padding-left: 0.5em;
    color: #3b5998;
}

.icon-github-sign {
    position: relative;
    top: 2em;
    font-size: 3em;
    padding-left: 0.5em;
    color: black;
}

.icon-linkedin-sign {
    position: relative;
    top: 2em;
    font-size: 3em;
    padding-left: 0.5em;
    color: #0e76a8;
}

.icon-instagram {
    position: relative;
    top: 2em;
    font-size: 3em;
    padding-left: 0.5em;
    color: #98458c;
}

#pic {
    float: left;
}

